<div layout="column" layout-align="center center" layout-fill class="md-inline-form">
    <br/><br/><br/><br/><br/><br/><br/><br/>

    <div class="loginBox md-whiteframe-z1" layout="column" id="popupContainer">
        <md-toolbar>
            <h2 class="md-toolbar-tools">
                <span>Update  the request</span>
            </h2>
        </md-toolbar>
        <md-content layout-padding>
            <form name="addReqForm">
                <md-input-container class="md-block">
                    <span>Select the request type</span>
                    <md-select ng-model="requestTypes.selected" aria-label="RequestType">
                        <md-option ng-value="requestType.reqType" ng-repeat="requestType in requestTypes.availableOptions">{{requestType.reqType}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Description</label>
                    <textarea name="description" id="description" ng-model="description" placeholder="description" required=""></textarea>
                    <div ng-messages="addReqForm.description.$error" multiple>
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>

                <div layout="row" layout-align="center center" style="padding-top:20px;">
                    <md-button type="submit" class="md-raised md-primary" ng-click="updateRequest()">Update the {{requestTypes.selected}} request</md-button>
                    <md-button ng-click="goToRequestDetail()">Cancel</md-button>
                </div>
            </form>
        </md-content>
    </div>
</div>