<div layout="row" layout-align="center center" >
    <div class="md-whiteframe-z1" layout="column" id="popupContainer">
        <md-toolbar>
            <h2 class="md-toolbar-tools">
                <span>{{request.type}}</span>
            </h2>
        </md-toolbar>
        <md-content layout="column" layout-padding class="relative" layout-fill role="main">
            <!--div layout-gt-sm="row" layout-align="center center"-->
                <md-card flex="50">
                    <md-list class="request-container">
                        <md-list-item class="md-3-line">
                            <div class="md-list-item-text">
                                <h2>Description</h2>
                                <p>{{request.description}}</p>
                                <!--md-slider ng-show="editApp" flex md-discrete step="1" min="1" max="50" ng-model="appScale" aria-label="Scale"></md-slider-->
                                <hr>
                            </div>
                        </md-list-item>
                        <md-list-item class="md-3-line">
                            <div class="md-list-item-text">
                                <h2>Status</h2>
                                <p>{{request.status}}</p>
                                <!--md-slider ng-show="editApp" flex md-discrete step="1" min="1" max="50" ng-model="appScale" aria-label="Scale"></md-slider-->
                                <hr>
                            </div>
                        </md-list-item>
                        <md-list-item class="md-3-line">
                            <div class="md-list-item-text">
                                <h2>Repairer</h2>
                                <p>{{repairerDisplayName}}</p>
                                <!--md-slider ng-show="editApp" flex md-discrete step="1" min="1" max="50" ng-model="appScale" aria-label="Scale"></md-slider-->
                                <hr>
                            </div>
                        </md-list-item>
                        <md-list-item class="md-3-line">
                            <div class="md-list-item-text">
                                <h2>Submitted by</h2>
                                <p>{{userStatus}}</p>
                                <!--md-slider ng-show="editApp" flex md-discrete step="1" min="1" max="50" ng-model="appScale" aria-label="Scale"></md-slider-->
                                <hr>
                            </div>
                        </md-list-item>
                        <md-divider></md-divider>
                        <md-list-item>
                            <span flex style="{{displayRepairerAssign}}">
                                <md-input-container>
                                    <span>Select repairer</span>
                                    <md-select ng-model="repairers.selected" aria-label="Repairer">
                                        <md-option ng-value="repairer.username" ng-repeat="repairer in repairers.availableOptions">{{repairer.diplayName}}</md-option>
                                    </md-select>
                                </md-input-container>
                                <md-button class="md-primary" style="visibility: inherit" ng-click="assignRepairer()">
                                    <span>Assign</span>
                                </md-button>
                            </span>
                            <md-button class="md-primary" style="{{displayRequestDone}}" ng-click="resolveRequest()">
                                <span>{{doneBtnDisplay}}</span>
                            </md-button>
                            <md-button class="md-primary" style="{{displayComments}}" ng-click="approveRequest()">
                                <span>Approve</span>
                            </md-button>
                            <md-button class="md-warn" aria-label="Add" style="{{displayComments}}" ng-click="showAdd($event)">
                                <span>Reject</span>
                            </md-button>
                            <span flex></span>
                            <md-button class="md-primary" style="{{displayEdit}}" ng-click="goToUpdateRequest()">
                                <span>Edit</span>
                            </md-button>
                            <md-button ng-click="goToRequests()">
                                <span>Back</span>
                            </md-button>
                        </md-list-item>
                    </md-list>
                </md-card>
            <!--/div-->
        </md-content>
    </div>
</div>