<div layout="column" layout-align="center center" layout-fill class="md-inline-form">
    <br/><br/><br/><br/><br/><br/><br/><br/>

    <div class="loginBox md-whiteframe-z1" layout="column" id="popupContainer">
        <md-toolbar>
            <h2 class="md-toolbar-tools">
                <span>Login</span>
            </h2>
        </md-toolbar>
        <md-content layout-padding>
            <form name="loginForm">
                <md-input-container class="md-block">
                    <label>Username</label>
                    <input type="text" name="username" ng-model="username" required/>
                    <div ng-messages="loginForm.username.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
                <md-input-container  class="md-block">
                    <label>Password</label>
                    <input type="password" name="password " ng-model="password" required/>
                    <div ng-messages="loginForm.password.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
                <div layout="row" layout-align="center center" style="padding-top:20px;">
                    <md-button type="submit" class="md-raised md-primary" ng-click="loginUser()">Login</md-button>
                    <md-button href="#/register">Register</md-button>
                </div>
            </form>

        </md-content>
    </div>
</div>