<div layout="row" layout-align="center center" >
    <div class="md-whiteframe-z1" id="popupContainer">
        <md-toolbar>
        <h2 class="md-toolbar-tools">
            <span>Requests</span>
        </h2>
        <md-button class="md-fab md-fab-top-right md-ink-ripple='#4a148c !important" aria-label="Add" ng-click="showAdd()">
            <md-icon md-svg-icon="/assets/img/plus.svg" aria-label="Plus"></md-icon>
        </md-button>
        </md-toolbar>
        <md-content layout="column" layout-padding class="relative" layout-fill role="main">
            <div layout-gt-sm="row" layout-align="center center">
                <md-list flex>
                    <md-list-item class="md-2-line" ng-repeat="item in requests | filter:search" role="link" ng-click="goToRequest(item.$id)">
                        <div class="md-list-item-text">
                            <div class="md-body-2">
                                {{item.type}}
                                <span style="color: #4a148c !important; align: right !important; text-decoration-style: solid !important">
                                    {{item.repairer == username ? 'Assigned' : ''}}
                                </span>
                            </div>
                            <p class="md-body-2">{{item.description}}</p>
                        </div>
                        <md-divider></md-divider>
                    </md-list-item>

                </md-list>
            </div>
        </md-content>
    </div>
</div>