<div layout="row" layout-align="center center" >
    <div class="md-whiteframe-z1" id="popupContainer">
        <md-toolbar>
            <h2 class="md-toolbar-tools">
                <span>Notifications</span>
            </h2>
        </md-toolbar>
        <md-content layout="column" layout-padding class="relative" layout-fill role="main">
            <div layout-gt-sm="row" layout-align="center center">
                <md-list flex>
                    <md-list-item class="md-2-line" ng-repeat="item in notifications track by item.requestId">
                        <div class="md-list-item-text" style ="{{item.statusColor}}" ng-click="updateStatus(item.requestId)">
                            <div class="md-body-2">
                                {{item.reqType}}
                                <span style="color: #4a148c !important; padding-left: 10px !important; text-decoration-style: solid !important">
                                    {{item.decision}}
                                </span>
                            </div>
                            <p class="md-body-2">{{item.description}}</p>
                        </div>
                        <md-divider></md-divider>
                    </md-list-item>

                </md-list>
            </div>
        </md-content>
    </div>
</div>